*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess
/nbproject/private/
/nbproject/
# ignore the IDE metadata folder
.metadata

# ignore the Mac OS folder and files
.DS_Store

# ignore the database config file
/application/config/database.php
